footer.py-5.px-3.px-lg-0.bg-dpurple
    .container
        .row
            .col-lg-3.mt-4.mt-lg-0
                h5.text-white Useful links
                p.m-0.mt-2
                    a.text-white.opacity-75(href="about.html") About us
                p.m-0.mt-2
                    a.text-white.opacity-75(href="features.html") Features
                p.m-0.mt-2
                    a.text-white.opacity-75(href="blog.html") Blog
                p.m-0.mt-2
                    a.text-white.opacity-75(href="faqs.html") FAQs
            .col-lg-3.mt-4.mt-lg-0
                h5.text-white Hot Tools
                p.m-0.mt-2
                    a.text-white.opacity-75(href="essay-writing.html") Essay Writing
                p.m-0.mt-2
                    a.text-white.opacity-75(href="assignment-writing.html") Assignment Writing
                p.m-0.mt-2
                    a.text-white.opacity-75(href="cover-letter-writing.html") Cover Letter Writing
                p.m-0.mt-2
                    a.text-white.opacity-75(href="notes-writing.html") Notes Writing
            .col-lg-3.mt-4.mt-lg-0
                h5.text-white New Tools
                p.m-0.mt-2
                    a.text-white.opacity-75(href="startup-ideas-generator.html")
                        | Startup Ideas
                        | Generator
                p.m-0.mt-2
                    a.text-white.opacity-75(href="youtube-video-script-generator.html")
                        | YT Video
                        | Script
                p.m-0.mt-2
                    a.text-white.opacity-75(href="text-paraphraser.html") Text Paraphraser
                p.m-0.mt-2
                    a.text-white.opacity-75(href="hashtags-generator.html") Hashtags Generator
            .col-lg-3.mt-4.mt-lg-0
                h5.text-white Follow us on
                p.m-0.mt-2
                    a.text-white.opacity-75.fs-5(href="#")
                        i.bi.bi-facebook
                    a.text-white.opacity-75.fs-5.ms-2(href="#")
                        i.bi.bi-instagram
                    a.text-white.opacity-75.fs-5.ms-2(href="#")
                        i.bi.bi-linkedin
                    a.text-white.opacity-75.fs-5.ms-2(href="#")
                        i.bi.bi-youtube
                p.m-0.mt-2
                    a.text-white.opacity-75(href="cookie.html") Cooikie Policy
                p.m-0.mt-2
                    a.text-white.opacity-75(href="terms.html") Terms &amp; Conditions
                p.m-0.mt-2
                    a.opacity-75.text-white(href="https://www.canva.com") Canva
                    a.opacity-75.text-white(href="https://www.pexels.com") Pexels
.below-footer.py-2.bg-ddpurple
    .container
        .row
            .col-lg-5.text-center.text-lg-start
                p.m-0.text-white A SaaS by 
                    a.text-white.fw-bold(href="https://www.unikbrushes.com") UnikBrushes
                    | .
            .col-lg-7.text-center.text-lg-end
                p.m-0.text-white
                    | Copyright ©
                    strong Zyno.Ink
                    | 2023. All rights reserved.