.col-lg-6.bg-llpurple.p-4#output
    h5.fw-bold.fs-4 Output (Just copy paste and BOOM! 💥)
    p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio distinctio quisquam
        | eaque
        | nisi similique molestias numquam corrupti exercitationem nesciunt? Fugit nostrum tenetur
        | dolorem! Nam,
        | aliquam sunt rerum iusto reprehenderit id atque nihil reiciendis natus placeat facere dolore
        | quia
        | officiis iure? Eligendi eum consequatur rem dolorum vitae! Et quidem temporibus
        | necessitatibus
        | suscipit impedit architecto cum similique error ab obcaecati recusandae aspernatur iusto
        | quasi
        | praesentium eligendi odio, in fugit quis nemo nihil ullam harum odit perferendis! Neque ut
        | ipsa
        | dolores aliquam eveniet libero doloribus eos hic dignissimos minus, id magnam veniam
        | officiis deserunt
        | explicabo sapiente alias officia, ab fugiat quae. Voluptates quas inventore accusamus
        | aliquid
        | reprehenderit magni. Repellendus exercitationem autem illo reiciendis dolorum at perferendis
        | ullam
        | cupiditate aspernatur? Nam eos molestiae animi ut laudantium aliquam, minus corrupti
        | architecto
        | voluptas! Cupiditate maiores tempore aspernatur laboriosam quos suscipit nam at eaque non
        | beatae
        | numquam, dolore incidunt quis? Doloremque quia numquam, quo quod aperiam quae maxime magnam
        | distinctio
        | necessitatibus, recusandae dolor obcaecati, tempore officiis ea accusamus unde error? Amet
        | placeat
        | nihil distinctio dolore ducimus dignissimos aliquam, sapiente architecto aliquid deserunt
        | fugit?
        | Nesciunt, incidunt? Nihil porro quisquam sit optio alias est cumque a perferendis! Commodi
        | fugiat
        | recusandae dicta quos repellendus molestiae distinctio rerum eum consequuntur?