include _featureCard
include _head
body
    include _nav
    .scroll-top.opacity-0
        a(href="#scroll-top")
            i.bi.bi-arrow-up-circle-fill
    .float-word-count.shadow.rounded-3.p-3
        .div
            | You have
            strong 564
            | words remaining of
            strong 10000
            | words
    section#scroll-top.breadcrumb
        .container
            .col-lg-8.text-center.text-lg-start
                h2.fw-bold.display-5 Welcome Back {Full name}
                hr
                h4.text-purple.fw-bold 👨‍💼 We are glad to have you back 👨‍💼
                p.opacity-75
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae velit
                    | nam
                    | consectetur, in ullam natus pariatur aliquid. Aut, magnam!
    section.features.py-6.bg-white.px-3.px-lg-0
        .container
            .row
                +feature('contract','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','essay-writing','Essay Writing')
                +feature('assignment','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','assignment-writing','Assignment Writing')
                +feature('letter','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','cover-letter-writing','Cover Letter Writing')
                +feature('youtube','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','youtube-video-script-generator','YT Video Script')
                +feature('hashtag','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','hashtags-enerator','Hashtags Generator')
                +feature('startup','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','startup-ideas-generator','Startup Ideas Generator')
                +feature('leaveletter','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','leave-letter-writing','Leave Letter Writing')
                +feature('paraphrase','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','text-paraphrase','Text Paraphraser')
                +feature('brand-identity','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','brand-name-generator','Brand Name Generator')
                +feature('youtube-des','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','youtube-video-description-generator','YT Video Description')
                +feature('note','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','text-expander','Text Expander')
                +feature('social-media','','Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quae delectus expedita error nihil?','social-media-captions','Social Media Captions')
                
    include _footer
