include _head
body
    include _nav
    .scroll-top.opacity-0
        a(href="#scroll-top")
            i.bi.bi-arrow-up-circle-fill
    section#scroll-top.breadcrumb
        .container
            .col-lg-8.text-center.text-lg-start
                h2.fw-bold.display-5 Essay Writing
                hr
                h4.text-purple.fw-bold 👨‍💼 We are also HUMANS 👨‍💼
                p.opacity-75
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae velit
                    | nam
                    | consectetur, in ullam natus pariatur aliquid. Aut, magnam!
    section.essay-writing.py-6.px-2.px-lg-4.bg-white
        .container
            form(action="POST")
                .row
                    .col-lg-6.p-4
                        .div
                            h5.fw-bold.fs-4 Write your Essay Title here.
                            input.form-control(type="text", name='', placeholder="Start typing in here...")
                            h5.fw-bold.fs-4.mt-4 Write a small description here.
                            textarea.form-control(type="text", name='', placeholder="Start typing in here...")
                            input.btn.btn-primary.mt-2.fw-bold.fs-5.px-4.mt-3(type="submit", value="Submit")
                            input.btn.btn-outline-primary.mt-2.fw-bold.fs-5.px-4.mt-3(type="submit", value="Regenerate")
                    .col-lg-6.bg-llpurple.p-4
                        h5.fw-bold.fs-4 Output (Just copy paste and BOOM! 💥)
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur odio distinctio quisquam
                            | eaque
                            | nisi similique molestias numquam corrupti exercitationem nesciunt? Fugit nostrum tenetur
                            | dolorem! Nam,
                            | aliquam sunt rerum iusto reprehenderit id atque nihil reiciendis natus placeat facere dolore
                            | quia
                            | officiis iure? Eligendi eum consequatur rem dolorum vitae! Et quidem temporibus
                            | necessitatibus
                            | suscipit impedit architecto cum similique error ab obcaecati recusandae aspernatur iusto
                            | quasi
                            | praesentium eligendi odio, in fugit quis nemo nihil ullam harum odit perferendis! Neque ut
                            | ipsa
                            | dolores aliquam eveniet libero doloribus eos hic dignissimos minus, id magnam veniam
                            | officiis deserunt
                            | explicabo sapiente alias officia, ab fugiat quae. Voluptates quas inventore accusamus
                            | aliquid
                            | reprehenderit magni. Repellendus exercitationem autem illo reiciendis dolorum at perferendis
                            | ullam
                            | cupiditate aspernatur? Nam eos molestiae animi ut laudantium aliquam, minus corrupti
                            | architecto
                            | voluptas! Cupiditate maiores tempore aspernatur laboriosam quos suscipit nam at eaque non
                            | beatae
                            | numquam, dolore incidunt quis? Doloremque quia numquam, quo quod aperiam quae maxime magnam
                            | distinctio
                            | necessitatibus, recusandae dolor obcaecati, tempore officiis ea accusamus unde error? Amet
                            | placeat
                            | nihil distinctio dolore ducimus dignissimos aliquam, sapiente architecto aliquid deserunt
                            | fugit?
                            | Nesciunt, incidunt? Nihil porro quisquam sit optio alias est cumque a perferendis! Commodi
                            | fugiat
                            | recusandae dicta quos repellendus molestiae distinctio rerum eum consequuntur?
    include _footer
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin="anonymous")
    // typed js
    script(src="./assets/js/typed.js")
    // Custom JS
    script(src="./assets/js/script.js")