include _head
body
    include _nav
    .scroll-top.opacity-0
        a(href="#scroll-top")
            i.bi.bi-arrow-up-circle-fill
    .float-word-count.shadow.rounded-3.p-3
        .div
            | You have
            strong 564
            | words remaining of
            strong 10000
            | words
    section#scroll-top.breadcrumb
        .container
            .col-lg-8.text-center.text-lg-start
                h2.fw-bold.display-5 Profile Settings
                hr
                h4.text-purple.fw-bold 👨‍💼 Need any changes in your profile? 👨‍💼
                p.opacity-75
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae velit
                    | nam
                    | consectetur, in ullam natus pariatur aliquid. Aut, magnam!
    section.profile-settings.py-6.px-2.px-lg-0.bg-white
        .container
            form
                .mb-3
                    label.form-label(for="name") Full Name
                    input#name.form-control(type="text", placeholder="Enter your full name here..." value=user.name)
                .mb-3
                    label.form-label(for="exampleInputEmail1") Username
                    input.form-control(type="text", placeholder="Username cannot be changed", value=user.userName, disabled)
                .mb-3
                    label.form-label(for="email") Email address
                    input#email.form-control(type="email", name='email', placeholder="Enter your email address here...", value=`${user.email}`)
                .mb-3
                    label.form-label(for="currentPassword") Current Password
                    input#currentPassword.form-control(type="password", name='currentPassword', placeholder="********", value='')
                .mb-3
                    label.form-label(for="password") New Password
                    input#password.form-control(type="password", name='password', placeholder="********")
                .mb-3
                    label.form-label(for="passwordConfirm") Confirm Password
                    input#passwordConfirm.form-control(type="password", name='passwordConfirm', placeholder="********")
                button.btn.btn-primary.fs-5.fw-bold.px-5(type="submit") SAVE
    include _footer
