include _head
body
    include _nav
    .scroll-top.opacity-0
        a(href="#scroll-top")
            i.bi.bi-arrow-up-circle-fill
    section#scroll-top.breadcrumb
        .container
            .row
                .col-lg-7.text-center.text-lg-start
                    h2.fw-bold.display-5 Register
                    img(src="./img/google-signin-button.png", height="50px", alt='')
                    img.ms-0.ms-lg-4(src="./img/login-button-png-18026.png", height="50px", alt='')
                    hr
                    h4.text-purple.fw-bold 🥳 Most Welcome to Zyno(dot)Ink 🥳
                    p.opacity-75
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae
                        | velit
                        | nam
                        | consectetur, in ullam natus pariatur aliquid. Aut, magnam!
                    form
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Full Name
                            input.form-control(type="text", placeholder="Enter your full name here...")
                            #emailHelp.form-text We&apos;ll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Username
                            input.form-control(type="text", placeholder="Enter your desired username here...")
                            #emailHelp.form-text We&apos;ll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputEmail1") Email address
                            input.form-control(type="email", placeholder="Enter your email address here...")
                            #emailHelp.form-text We&apos;ll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="exampleInputPassword1") Password
                            input.form-control(type="password", placeholder="********")
                        .mb-3
                            label.form-label(for="exampleInputPassword1") Confirm Password
                            input.form-control(type="password", placeholder="********")
                        .row
                            .col-lg-6
                                .mb-3.form-check.d-flex.justify-content-center.d-lg-block.justify-content-lg-start
                                    .div
                                        input#exampleCheck1.form-check-input(type="checkbox")
                                        label.form-check-label(for="exampleCheck1") Accept the 
                                            a(href="terms.html") Terms
                                            | ?
                            .col-lg-6.mb-3
                                .form-check.d-flex.justify-content-center.d-lg-block.justify-content-lg-start
                                    .div
                                        input#exampleCheck1.form-check-input(type="checkbox")
                                        label.form-check-label(for="exampleCheck1") Accept the 
                                            a(href="cookie.html") Cookie Policy
                                            | ?
                        button.btn.btn-primary.fs-5.fw-bold.px-5(type="submit") LOGIN NOW!
                .col-lg-5.d-none.d-lg-flex.align-items-center
                    img.img-fluid(src="./img/register-image.png", alt='')
    include _footer
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin="anonymous")
    // typed js
    script(src="./assets/js/typed.js")
    // Custom JS
    script(src="./assets/js/script.js")
