include _head
body
    include _nav
    .scroll-top.opacity-0
        a(href="#scroll-top")
            i.bi.bi-arrow-up-circle-fill
    section#scroll-top.breadcrumb
        .container
            .row
                .col-lg-7.text-center.text-lg-start
                    h2.fw-bold.display-5 Register
                    img(src="./img/google-signin-button.png", height="50px", alt='')
                    img.ms-0.ms-lg-4(src="./img/login-button-png-18026.png", height="50px", alt='')
                    hr
                    h4.text-purple.fw-bold 🥳 Most Welcome to Zyno(dot)Ink 🥳
                    p.opacity-75
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate vitae
                        | velit
                        | nam
                        | consectetur, in ullam natus pariatur aliquid. Aut, magnam!
                    form.signup-form
                        .mb-3
                            label.form-label(for="full-name") Full Name
                            input#full-name.form-control(type="text", anme='fullname', placeholder="Enter your full name here...")
                            
                        .mb-3
                            label.form-label(for="user-name") Username
                            input#user-name.form-control(type="text",name='username', placeholder="Enter your desired username here...")
                            
                        .mb-3
                            label.form-label(for="email") Email address
                            input#email.form-control(type="email",name='email', placeholder="Enter your email address here...")
                            #emailHelp.form-text We&apos;ll never share your email with anyone else.
                        .mb-3
                            label.form-label(for="password") Password
                            input#password.form-control(type="password",name='password', placeholder="********")
                        .mb-3
                            label.form-label(for="passwordConfirm") Confirm Password
                            input#passwordConfirm.form-control(type="password",name='passwordConfirm', placeholder="********")
                        .row
                            .col-lg-6
                                .mb-3.form-check.d-flex.justify-content-center.d-lg-block.justify-content-lg-start
                                    .div
                                        input#accept-terms.form-check-input(type="checkbox")
                                        label.form-check-label(for="exampleCheck1") Accept the 
                                            a(href="/terms") Terms
                                            | ?
                            .col-lg-6.mb-3
                                .form-check.d-flex.justify-content-center.d-lg-block.justify-content-lg-start
                                    .div
                                        input#accept-cookie.form-check-input(type="checkbox")
                                        label.form-check-label(for="exampleCheck1") Accept the 
                                            a(href="/cookie") Cookie Policy
                                            | ?
                        button.btn.btn-primary.fs-5.fw-bold.px-5(type="submit") REGISTER NOW!
                .col-lg-5.d-none.d-lg-flex.align-items-center
                    img.img-fluid(src="./img/register-image.png", alt='')
    include _footer
